header {
        background-color: rgb(168, 164, 172);
        color: ghostwhite;
        display: flex;
        justify-content: space-around;
}

.cabecalho.imagem {
        width: 20%;

}
 .cabecalho-lista-item{
        display: inline-block;
        margin:0 16px;
 }
    
    
